<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--title-->
    <title>{{ title }}</title> 
    <!--bootstrap-->
    <link rel ="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container" style="padding-top:100px;">
        
        <!--큰틀안에 실질적으로 반영되는 내용-->
        <!--반영할 내용을 해당 template에서 로직을 작성해줘야한다-->
        {% block content %}{% endblock %}

    </div>
</body>
</html>